<div class="icon-btn sublist-edit-btn"><span>Edit</span></div>
<div class="point-detail showing">
  <span class="point-name"><%= name %></span> <span class="point-coordinate">(<%= this.value %>, <%= this.relY != null ? +(relY +'e2') + "%" : null %>, <%= this.age %>)</span>
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
