@import "utils/styles";
@import "utils/top_notifications";
@import "utils/cursor_types";

body {
  min-width: 800px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  overflow: hidden;

  #canvas {
    width: 100%;
    height: 100%;
  }
}

a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea {
  border: 1px solid #CCCCCC;
  color: rgba(0,0,0,0.75);
  padding: 8px 8px;
}

@import "utils/liquid_three_columns";


/* misc generic styles */
.disable-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}
span.icon, .icon-btn span {
  display: inline-block;
  cursor: pointer;
  text-indent: -999999px;
}
.file-dropbox {
  overflow: hidden;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -khtml-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  border: 5px #aaa dashed;
  text-align: center;
}
.file-dropbox:active, .file-dropbox:focus, .file-dropbox:hover {
  cursor: copy;
}


/* Main Panel */
main {
  background: #333333;
  cursor: crosshair;
  svg {
    background: #FFFFFF;
  }
}

.introduction {
  margin: 100px 60px;
  background: #FFFFFF;
  h1 {
    color: #222222;
  }
  .tool-name-column {
    float: left;
    width: 280px;
    padding: 25px 20px;
    text-align: center;
  }
  .tool-option-column {
    width: auto;
    min-width: 330px;
    overflow: hidden;
    padding: 25px 20px;
  }
  .subheader {
    color: #6F6F6F;
  }
  .row {
    padding: 10px 0px;
  }
  .data-dropbox {
    color: #6F6F6F;
    padding: 20px 0px;
    //font-size: 1.3em;
    font-size: 21px;
    font-weight: 100;
    &:active, &:focus, &:hover {
      background: #F1F1F1;
    }
  }
  .continue {
    float: right;
    padding: 0px 20px;
  }
}

@import "main_canvas/svg";


/* Toolbar Panel */
.toolbar {
  @include sidebar_style;
  overflow: hidden;
  &:hover {
    overflow-y: auto;
  }
  .tool {
    border-bottom: 1px solid #000;
    height: 40px;
    margin: 0px;
    padding: 8px 0px 0px 11px;
    cursor: pointer;
    &:active {
      background: #333333;
    }
  }
  .selected {
    background: #777777;
  }
}

.tool {
  .icon {
    background: url('/images/cc/black/png/icons_32-sb581baf3ca.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
  }
}
.icon.pointer { background-position: 0px -1920px; }
.icon.lock-cursor-h { background-position: 0px -5792px; }
.icon.lock-cursor-v { background-position: 0px -5792px; }
.icon.zoom-in { background-position: 0px -2688px; }
.icon.zoom-out { background-position: 0px -2688px; }
.icon.pan { background-position: 0px -1088px; }
.icon.add-timeline { background-position: 0px -7584px; }
.icon.add-well { background-position: 0px -7712px; }
.icon.add-range-lines { background-position: 0px -288px; }
.icon.add-new-curve { background: url('/images/icons/add-curve-tool-32.png'); background-position: 0px 0px; }
.icon.add-new-event { background: url('/images/icons/add-event-tool-32.png'); background-position: 0px 0px; }
.icon.add-polygon { background: url('/images/icons/polygon4.png'); background-position: 0px 0px; }
.icon.new-polygon { background-position: 0px -8800px; }
.icon.add-transect-text { background-position: 0px -8736px; }
.icon.show-ref-panel { background-position: 0px -7968px; }
.icon.save-to-local-storage { background-position: 0px -8704px; }
.icon.reload-data { background-position: 0px -6464px; }
.icon.export-data { background-position: 0px -3712px; }
.icon.file-system { background-position: 0px -768px; }


/* Details Panel */
.details {
  @include sidebar_style;
  .selected {
    background: #333333;
    color: #FFFFFF;
  }
}
.detail-buttons {
  overflow: hidden;
  height: inherit;
  white-space: nowrap;
  &:hover { overflow-y: auto; }
  .detail-button {
    height: 36px;
    padding: 0px 5px;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }
  .detail-button-settings-icon {
    background: url('/images/cc/black/png/icons_32-sb581baf3ca.png');
    background-position: 0px -864px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin: 2px 0px 0px 0px;
  }
  .detail-button-text {
    display: inline-block;
    position: relative;
    top: -10px;
    left: 6px;
  }
}
.detail-panels {
  position: absolute;
  top: 0px;
  right: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
  .detail-panel {
    min-height: 100%;
    width: 400px;
    padding: 0px 20px;
    background: #333333;
    color: #FFFFFF;
    opacity: 0.85;
    h3 {
      //font-size: 1.6rem;
      font-size: 24px;
    }
    label {
      //font-size: 0.8rem;
      font-size: 14px;
      margin-left: 5px;
    }
    .row {
      padding: 5px 2px 5px 2px;
      overflow: auto;
    }
    .multiline-input {
      width: 120px;
      margin-right: 5px;
      float: left;
      > * { width: 100px; }
      input { margin-top: 10px; }
    }
    .image-dropbox {
      padding: 100px 0px;
      font-size: 20px;
      font-weight: 100;
      &:active, &:focus, &:hover { background: #434343; }
    }
    .data-list {
      height: 25px;
      padding: 8px 0px;
      border-bottom: 1px solid #F1F1F1;
      overflow: auto;
      
      > * { float: left; margin-top: 4px; }
      .timeline-detail {
        > * { display: inline-block; vertical-align: top; }
        .timeline-name { width: 150px; margin-right: 20px; }
        .timeline-age { width: 60px; margin-left: 29px; }
      }
      .timeline-detail-editing {
        margin-top: 0px;
        > * { display: inline-block; }
        input { height: 18px; padding: 3px 8px; }
        .timeline-name { width: 141px; margin-right: 20px; }
        .timeline-age { width: 41px; margin: 0px 10px 0px 20px; }
      }

    }
    .icon-btn { width: 16px; height: 16px; }
    .edit-btn {
      margin-right: 20px;
      background: url("/images/cc/white/png/icons_16/playback_play_icon_16.png");
    }
    .cancel-btn {
      margin-right: 11px;
      background: url("/images/cc/white/png/icons_16/playback_play_icon_16.png");
      transform:rotate(90deg);      
      -ms-transform:rotate(90deg); /* IE 9 */
      -webkit-transform:rotate(90deg);
    }
    .delete-btn {
      float:right;
      background: url("/images/cc/white/png/icons_16/trash_icon_16.png");
    }
  }
}

