<div class="icon-btn cancel-btn"><span>Cancel</span></div>
<div class="curve-detail editing">
  <input type="text" class="curve-name" name="name" value="<%= name %>">
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
