<div class="nav-section"></div>
<div class="data-section">
  <div class="top-buttons">
    <div class="export-btn button">Export</div>
    <div class="version-selectors">
      <div class="show-html button">table</div>
      <div class="show-text button">text</div>
    </div>
  </div>
  <div class="html-panel"></div>
  <div class="text-panel"></div>
</div>
