<div class="sublist-header">
  <div class="icon-btn sublist-cancel-btn"><span>Edit</span></div>
  <div>EVENT Options</div>
  </div>
  <div class="display-options-detail">


  </div>

<div class="display-options-detail">
   <div class="row">
   <div>Event Type</div>
   
   <label onclick="" class="toggle-btn"><input type="radio" name="group3"/>LAD</label><label onclick="" class="toggle-btn"><input type="radio" name="group3"/>FAD</label><label onclick="" class="toggle-btn"><input type="radio" name="group3"/>EVENT</label>
   <div class="row">
</div>


<div class="row">
  <div>Change Image</div>
</div>
<div class="row">
  <div class="file-dropbox image-dropbox" >
    <span class="data-status">drag &amp; drop your image here</span>
  </div>
</div>



