<div class="sublist-header">
  <div class="icon-btn sublist-cancel-btn"><span>Edit</span></div>
  <div>EVENT Options</div>
</div>

<div class="display-options-detail">
   <div>Event Type</div>
</div>

<div class="display-options-details">
 	<input type="radio" name="event-type" value="LAD" checked="">
  	<label>LAD</label>
</div>

<div class="display-options-details">
  	<input type="radio" name="event-type" value="FAD">
  	<label>FAD</label>
</div>

<div class="display-options-details">
  	<input type="radio" name="event-type" value="EVENT">
  	<label>EVENT</label>
</div>

<div class="display-options-details">
  <div>Change Image</div>
</div>

<div class="display-options-details">
  <div class="file-dropbox image-dropbox" >
    <span class="data-status">drag &amp; drop your image here</span>
  </div>
</div>
