<div class="icon-btn cancel-btn"><span>Cancel</span></div>
<div class="timeline-detail editing">
  <input type="text" class="timeline-name" name="name" value="<%= this.name %>">
  <span> - </span>
  <input type="text" class="timeline-age" name="age" value="<%= this.age %>">
  <span> Ma </span>
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
