<div class="icon-btn edit-btn"><span>Edit</span></div>
<div class="timeline-detail showing">
  <span class="timeline-name"><%= this.name %></span>
  <span> - </span>
  <span class="timeline-age"><%= this.age %></span>
  <span> Ma </span>
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
