<div class="introduction">
  <div class="image">
    <img src="../images/5man.gif" alt="logo" width="142" height="142">
  </div>
  <div class="tool-name-column">
    <h1>Timescale Creator</h1>    
    <h2 class="subheader">Event Maker</h2>
  </div>
  <div class="tool-option-column">
    <div>
      <a class="continue" title="Start a new project">Click here to start a new project</a>
    </div>
  <div>
    <div class="file-dropbox data-dropbox" >
      <span class="data-status">To continue an existing project, <br> drag &amp; drop your saved project (*.json) file</span>
    </div>
  </div>
  <div class="link">
   	<a href="./docs/CurveMakerManual.pdf" title="A guided tour of curve maker" target="_blank">For Help: A Guided Tour of Curve Maker</a>
  </div>
</div>
