<div class="introduction">
  <div class="tool-name-column">
    <div class="intro-name">
        <h1>Timescale Creator</h1>		
        <h2 class="subheader">Event Maker</h2>
    </div>
  </div>
  <div class="tool-option-column">
    <div>
      <a class="continue" title="Start a new project">
        <h2 class="start"> Start a new project </h2>
      </a>
    </div>
    <div>
      <div class="file-dropbox data-dropbox" >
        <span class="data-status">To continue a project, <br> drag &amp; drop your saved project (*.json) file</span>
      </div>
    </div>
    <div class="row">
      <a class="guide" href="/docs/Merged_TSC_Manuals_1May2012.pdf" title="A guided tour of transect maker" target="_blank">A guided tour (currently user manual) of transect maker</a>
    </div>
  </div>
</div>
