<div class="row">
	<div class="small-3 columns arrow">↳</div>
	<label class="point-data small-21 columns"><%= name %> - (<%= Math.round(lat*10000)/10000 || "na" %> <%= Math.round(lon*10000)/10000 || "na" %>) </label>
</div>
