<div class="row">
	<div class="toggle hide-data small-1 columns"></div>
	<lable class="polygon-data small-22 columns"><%= name %></lable>
	<div class="small-22 columns polygon-form hide">
		<input type="text" value="<%= name %>" name="polygon-name">
		<textarea name="polygon-description" placeholder="No description yet!"><%= description %></textarea>
	</div>
	<div class="small-1 columns"><a href="#" class="destroy"></a></div>
</div>
