<div class="row">
  <h3>Choose Time Frame</h3>
</div>
<div class="row">
  <div class="multiline-input four-columns">
    <label>Top</label>
    <input type="text" name="topAge" value="<%= topAge %>">
  </div>
  <div class="multiline-input four-columns">
    <label>Base</label>
    <input type="text" name="baseAge" value="<%= baseAge %>">
  </div>
  <div class="multiline-input four-columns">
    <label>Gap size</label>
    <input type="text" name="gapSize" value="<%= gapSize %>">
  </div>
  <div class="multiline-input four-columns">
    <label>Starting Y</label>
    <input type="text" name="offsetY" value="<%= offsetY %>">
  </div>
</div>

<hr>

<div class="row">
  <h3>Choose Reference Column</h3>
</div>
<div class="row">
  <input type="radio" name="ref-column" value="Period"><label>Period</label>
</div>
<div class="row">
  <input type="radio" name="ref-column" value="Epoch"><label>Epoch</label>
</div>
<div class="row">
  <input type="radio" name="ref-column" value="Age/Stage"><label>Age/Stage</label>
</div>
<div class="row">
  <input type="radio" name="ref-column" value="" checked=""><label>None</label>
</div>

<hr>

