
@mixin sidebar_style {
	background: #f1f1f1;
}

@mixin hover {
	background: #777;
}

@mixin click {
	background: #333;
}


@mixin display_background {
	background: #333;
}

@mixin intro {
	background: #fff;
}


@mixin trash {
	width: 16px;
	height: 16px;
	display: block;
	background: url('/images/cc/white/png/icons_16/trash_icon_16.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

@mixin app_font {
	color: #222;
}

@mixin settings_font {
	color: #fff;
}

@mixin selected {
	background: #333;
	color: #FFF;
}

@mixin list_hover {
	color: #fdcc59;
}

@mixin disable_double_click_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin rounded_borders($color, $width: 5px, $rounding: 5px, $style: solid) { 
	-moz-border-radius: $rounding $rounding;
	-webkit-border-radius: $rounding $rounding;
	-khtml-border-radius: $rounding $rounding;
	-o-border-radius: $rounding $rounding;
	border-radius: $rounding $rounding;
	border: $width $color $style; 
}

@mixin prevent_drag_and_drop {
	/* this will work for QtWebKit in future */
	-webkit-user-drag: none;
}

@mixin sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
}