<table>
	<thead>
		<th class="toggle hide-data" width="2%"></th>
		<th class="subheader" width="96%"><%= name %></th>
		<th class="destroy" width="2%"></th>
	</thead>
	<tbody class="data-list">
	</tbody>
</table>