<table>
	<thead>
		<th class="toggle hide-data" width="3%"></th>
		<th class="subheader" width="94%"><%= name %></th>
		<th class="destroy" width="3%"></th>

	</thead>
	<tbody class="data-list">
	</tbody>
</table>