<td class="toggle hide-data" width="1%"></td>
<td  width="98%">
	<div class="row">
		<label class="line-data large-12 columns"><%= name %></label>
		<div class="line-form hide">
			<div class="large-8 columns">
				<label>Line</label>
				<input type="text" value="<%= name %>" name="line-name">
			</div>
			<div class="large-4 columns">
				<label>Pattern</label>
				<select>
					<option value="wavy">Wavy</option>
					<option value="jagged">Jagged</option>
				</select>
			</div>
		</div>
	</div>
	<div class="line-form row hide large-12 columns">
		<a href="#update-line" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="1%"></td>
