<td class="toggle hide-data" width="1%"></td>
<td  width="98%">
	<div class="row">
		<label class="polygon-data large-12 columns"><%= name %></label>
		<div class="polygon-form hide">
			<div class="large-8 columns">
				<label>Polygon</label>
				<input type="text" value="<%= name %>" name="polygon-name">
			</div>
		</div>
	</div>
	<div class="polygon-form row hide large-12 columns">
		<a href="#update-polygon" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="1%"></td>
