<div class="row">
  <h3>Choose Image Dimensions</h3>
</div>

<div class="row">
  <div class="multiline-input">
    <label>Image Width</label>
    <input type="number" name="curWidth" step="10" min="0" max="10000" value="">
  </div>
  <div class="multiline-input">
    <label>Image Height</label>
    <input type="number" name="curHeight" step="10" min="0" max="10000" value="">
  </div>
  <div class="multiline-input">
    <label>Rotate</label>
    <input type="number" name="rotation" step="0.1" min="-180" max="180" value="0">
  </div>
</div>

<div class="row">
  <input type="checkbox" name="isVisible" checked=""><label>Show Image</label>
</div>

<div class="row">
  <input type="checkbox" name="isPreserveAspectRatio" checked=""><label>Preserve Aspect Ratio</label>
</div>

<hr>

<div class="row">
  <h3>Change Image</h3>
</div>
<div class="row">
  <div class="file-dropbox image-dropbox" >
    <span class="data-status">Input background image</span>
  </div>
</div>
