@import "../utils/styles";


@mixin settings-list {
	ul {
		padding-left: 5px;
		padding-bottom: 10px;
		margin: 0px;
		li {
			margin: 5px;
			// border-bottom: 1px solid #fdcc59;
			border-bottom: 1px solid #f1f1f1;

			&.highlight {
				background: #700000;
			}

			label {
				@include settings_font;
			}

			list-style-type: none;

			.destroy {
				@include trash;
			}

			.to-front {
				@include eye;
			}


			.hide-data:before {
				content: '▶';
			}

			.show-data:before {
				content: '▼';
			}

			&.hover {
				@include list_hover;
				
				label {
					@include list_hover;
				}

				.hide-data:before {
					content: '➜';
				}
			}
		}
	}
}
