@import "compass/css3/transition";
@import "../utils/styles";
@import "../utils/globals";
@import "settings/list";

#sections-panel {

	@include disable_double_click_select;

	top: 0px;
	right: 100%;
	width: 300%;
	height: 100%;
	position: absolute;
	display: none;
	
	&.active {
		display: block;
	}

	.settings-content {
		@include selected;
		position: relative;
		top: 0px;
		height: 100%;
		display: none;
		overflow-y: auto;
		overflow-x: hidden;
		opacity: 0.95;

		.row {
			padding: 0px;
			margin: 0px;

			.columns {
				margin: 0px;
				padding: 2px;
			}
		}
		
		&.active {
			display: block;
		}

		@include settings-list;
	}
}

.lines-list, .points-list, .patterns-list {
	@include settings-list;
}