@import "../utils/styles";
@import "markers_list";
@import "polygons";

#settings {
	@include sidebar_style;
	@include disable_double_click_select;
	
	height: 100%;
	padding: 0px;
	margin: 0px;

	ul.custom-sidenav-class {
		padding: 0px;
		
		li {
			border-bottom: 1px solid #000;
			margin: 0px;

			&:hover {
				@include toolbar_hover;
			}

			&:active {
				@include toolbar_click;
			}

			a {
				@include app_font;
				padding: 5px;
				margin: auto;
				&.active {
					@include selected;
				}
			}

			em.icon {
				width: 32px;
				height: 32px;
				margin: auto;
			}
			
			&.active {
				@include selected;
			}
		}
	}
}
