<div class="icon-btn edit-btn"><span>Edit</span></div>
<div class="timeline-detail">
  <span class="timeline-name"><%= name %></span>
  <span> - </span>
  <span class="timeline-age"><%= age %></span>
  <span> Ma </span>
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
