<td class="toggle hide-data" width="1%"></td>
<td  width="98%">
	<div class="row">
		<label class="point-data large-12 columns"><%= name %></label>
		<div class="point-form hide">
			<div class="large-8 columns">
				<label>Point</label>
				<input type="text" value="<%= name %>" name="point-name">
			</div>
			<div class="large-4 columns">
				<label>Age</label>
				<input type="text" value="<%= age %>" name="point-age">
			</div>
		</div>
	</div>
	<div class="point-form row hide large-12 columns">
		<a href="#update-point" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="1%"></td>
