@import "../utils/styles";
@import "compass/utilities/sprites";
@import "icons/*.png";
@import "cc/black/png/icons_32/*.png";
@include all-icons-sprites;
@include all-icons_32-sprites;

#toolbar {
	@include sidebar_style;
	height: 100%;
	padding: 0px;
	margin: 0px;

	ul.side-nav {
		padding: 0px;
		
		li {
			border-bottom: 1px solid #000;
			margin: 0px;

			&:hover {
				@include toolbar_hover;
			}

			&:active {
				@include toolbar_click;
			}
			
			a.icon {
				background-position: 12 6px;
				width:100%;
				height:48px;
			}
		}
	}
}