<ul class="data-list">
	<div class="row">
		<div class="columns small-20">
			<label for="project-name" class="project-name" style="color:white; font-size:1.2rem;">Project Name </label>
			<input type="text" value="<%= projectName %>" name="project-name">
		</div>
	</div>
</ul>
