<div class="row column-info"></div>
<div class="row formation-info">
	<label class="lithology-column-lithologys-data small-16 columns">↳Groups</label>
	<div class="columns small-8">
		<a href="#add-overlay" class="button tiny">add overlay</a>
	</div>
</div>
<div class="row formation-info">
	<ul class="lithology-groups-list lithology-column-lithology-form small-24 columns hide"></ul>
</div>
