<div class="row column-info"></div>
<div class="row formation-info">
	<div class="small-1 columns">↳</div>
	<label class="lithology-column-lithologys-data small-23 columns">Groups</label>
	<ul class="lithology-groups-list lithology-column-lithology-form small-23 columns hide"></ul>
</div>
