<div class="row column-info"></div>
<div class="row formation-info">
	<label class="lithology-column-lithologys-data small-16 columns">↳Groups</label>
</div>
<div class="row formation-info">
	<ul class="lithology-groups-list lithology-column-lithology-form small-24 columns hide"></ul>
</div>
<div class="row formation-info">
	<label class="lithology-overlay row">↳Overlay</label>
	<ul class="lithology-overlay row overlay"></ul>
</div>
<div class="row formation-info">
	<a href="#add-overlay" class="right button tiny">add overlay</a>
</div>
<div class="row formation-info hide">
	<a href="#finish-overlay" class="right button tiny alert">finish overlay</a>
</div>
<div class="row formation-info hide">
	<a href="#edit-overlay" class="right button tiny success">edit overlay</a>
</div>
