<div class="row column-info"></div>
<div class="row formation-info">
	<label class="lithology-column-lithologys-data small-12 columns">↳Groups</label>
	<div class="columns small-12">
		<a href="#add-overlay" class="button tiny alert">add overlay</a>
		<a href="#complete-overlay" class="button tiny">done</a>
	</div>
</div>
<div class="row formation-info">
	<ul class="lithology-groups-list lithology-column-lithology-form small-24 columns hide"></ul>
</div>
<!-- <div class="row formation-info">
	<label class="lithology-column-overlay small-16 columns">↳Overlays</label>
	<div class="columns small-6">
		<input type="radio" name="overlay-type" value="uniform" checked>
		<label>uniform</label>
	</div>
	<div class="columns small-8">
		<input type="radio" name="overlay-type" value="non-uniform">
		<label>non-uniform</label>
	</div>
</div> -->
