<div class="icon-btn edit-btn"><span>Edit</span></div>
<div class="curve-detail showing">
  <span class="curve-name"><%= name %></span>
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
