<div class="row">
	<div class="small-3 columns">↳</div>
	<label class="line-data small-21 columns"><%= name %> - <%= pattern %></label>
	<div class="small-11 columns line-form hide">
		<input type="text" value="<%= name %>" name="line-name">
	</div>
	<div class="small-10 columns line-form hide">
		<select class="line-pattern" name="line-types">
			<% if (pattern == "default") { %> 
				<option value="default" selected>Default</option>
			<% } else { %>
				<option value="default">Default</option>
			<% } %>
			<% if (pattern == "wavy") { %> 
				<option value="wavy" selected>Wavy</option>
			<% } else { %>
				<option value="wavy">Wavy</option>
			<% } %>
			<% if (pattern == "lapping") { %> 
				<option value="lapping" selected>Jagged</option>
			<% } else { %>
				<option value="lapping">Jagged</option>
			<% } %>
		</select>
	</div>
</div>