<div class="row">
	<div class="small-3 columns">↳</div>
	<label class="line-data small-21 columns"><%= name %> - <%= pattern %></label>
	<div class="small-11 columns line-form hide">
		<input type="text" value="<%= name %>" name="line-name">
	</div>
	<div class="small-10 columns line-form hide">
		<select class="line-pattern" name="line-types">
			<option value="default">Default</option>
			<option value="wavy">Wavy</option>
			<option value="jagged">Jagged</option>
		</select>
	</div>
</div>