<div class="row">
	<div class="small-3 columns">↳</div>
	<label class="point-data small-21 columns"><%= name %> - <%= age || "na" %> myr</label>
	<div class="small-11 columns point-form hide">
		<input type="text" value="<%= name %>" name="point-name">
	</div>
	<div class="small-10 columns point-form hide">
		<input type="text" value="<%= age %>" name="point-age">
	</div>
</div>
