<div class="row">
	<div class="toggle hide-data small-3 columns"></div>
	<div class="transect-data small-17 columns ">
		<label class="transect-label"><%= name %></label>
		<label class="transect-label"><%= description || "You haven't written any description yet." %></label>
	</div>
	<div class="small-17 columns transect-form hide">
		<input type="text" value="<%= name %>" name="transect-name">
		<textarea name="transect-description" placeholder="You haven't written any description yet."><%= description%></textarea>
	</div>
	<div class="small-4 columns"><i class="destroy"></i></div>
</div>
