<td class="toggle hide-data" width="1%"></td>
<td  width="98%">
	<div class="row">
		<label class="marker-data large-12 columns"><%= name %>【<%= age %> myr】</label>
		<div class="marker-form hide">
			<div class="large-8 columns">
				<label>Marker</label>
				<input type="text" value="<%= name %>" name="marker-name">
			</div>
			<div class="large-4 columns">
				<label>Age</label>
				<input type="text" name="marker-age" value="<%= age %>">
			</div>
		</div>
	</div>
	<div class="marker-form row hide large-12 columns">
		<a href="#update-marker" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="1%"></td>
