<td class="toggle hide-data" width="3%"></td>
<td  width="94%">
	<div class="row">
		<label class="transect-data large-12 columns"><%= name %></label>
		<div class="transect-form hide">
			<div class="large-8 columns">
				<label>Transect</label>
				<input type="text" value="<%= name %>" name="transect-name">
			</div>
		</div>
	</div>
	<div class="transect-form row hide large-12 columns">
		<a href="#update-transect" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="3%"></td>
