<div class="row">
	<div class="toggle hide-data small-3 columns"></div>			
	<label class="text-data small-17 columns text-label"><%= text %></label>
	<div class="small-17 columns text-form hide">
		<input type="text" value="<%= text %>" name="text-name">
	</div>
	<div class="small-4 columns"><a href="#" class="destroy"></a></div>
</div>
