<td class="toggle hide-data" width="3%"></td>
<td  width="94%">
	<div class="row">
		<label class="zone-data large-12 columns"><%= name %></label>
		<div class="zone-form hide">
			<div class="large-12 columns">
				<label>zone</label>
				<input type="text" value="<%= name %>" name="zone-name">
			</div>
			<div class="large-12 columns">
				<label>Description</label>
				<textarea name="zone-description"></textarea>
			</div>
		</div>
	</div>
	<div class="zone-form row hide large-12 columns">
		<a href="#update-zone" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="3%"></td>
