<div class="icon-btn sublist-cancel-btn"><span>Cancel</span></div>
<div class="point-detail editing">
  <div class="point-name"><%= name %></div>
  <div class="multiline-input">
    <label>X</label>
    <input type="text" class="point-x" name="x" value="<%= x %>">
  </div>
  <div class="multiline-input">
    <label>Y</label>
    <input type="text" class="point-y" name="y" value="<%= y %>">
  </div>
</div>
<div class="icon-btn delete-btn"><span>Delete</span></div>
