@import "compass/utilities/general/clearfix";
@import "../utils/styles";

#display {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	cursor: crosshair;
	
	@include display_background;

	> #canvas {
		background: #fff;
		&.hidden {
			height: 1px;
			width: 1px;
			overflow: hidden;
			position: absolute;
			z-index: -100;
		}
	}

	// hidden is for hiding div that contains canvas with text elements.
	// text elements seems to mis align when the div is hidden.
	// reference: https://github.com/DmitryBaranovskiy/raphael/issues/491


	> #ref-panel {
		position: fixed;
		top: 0px;
		height: 100%;
		width: 200px;
		overflow: auto;
		&.hidden {
			height: 1px;
			width: 1px;
			overflow: hidden;
			position: absolute;
			z-index: -100;
		}

		@include display_background;
	}


	> #loading {
		> img {
			position: absolute;
			top: 40%;
			left: 45%;
			height: 100px;
			width: 100px;
		}
	}

	> #intro-screen { 

		&.row {
			margin: 100px auto auto auto;

			> .columns {
				float: none;
			}

			.columns {
				@include intro;
				margin: auto;

				> .header {
					padding: 30px;

					li {
						list-style-type: none;
						> .row {
							padding-top: 10px;
							padding-bottom: 10px;

							> .drag-box {
								@include clearfix;
								@include rounded_borders(#aaa, 5px, 5px, dashed);

								height: 40px;

								.text-message {
									padding-top: 10px;
								}

								&:hover {
									background: #f1f1f1;
								}
							}
						}
					}
				}
			}
		}
	}
}