@charset "UTF-8";
/* line 3, ../scss/toolbar/_export_panel.scss */
#export-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background: #333;
}
/* line 12, ../scss/toolbar/_export_panel.scss */
#export-panel.active {
  display: block;
}
/* line 16, ../scss/toolbar/_export_panel.scss */
#export-panel > .row {
  margin: 0px;
  padding: 0px;
}
/* line 20, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-nav-section {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: auto;
}
/* line 27, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-nav-section ul {
  padding: 0px;
  margin: 0px;
}
/* line 32, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-nav-section ul li {
  margin: 0px;
  border-bottom: 1px solid #fff;
}
/* line 36, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-nav-section ul li a {
  padding: 10px;
  color: #fff;
}
/* line 41, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-nav-section ul li:hover {
  background: #777;
}
/* line 45, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-nav-section ul li:active {
  background: #333;
}
/* line 53, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-data-section {
  background: #fff;
  height: 100%;
  overflow: auto;
}
/* line 58, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-data-section > .button-bar {
  padding-top: 10px;
}
/* line 63, ../scss/toolbar/_export_panel.scss */
#export-panel > .row > .export-data-section > .data-raw > textarea {
  width: 100%;
  height: 90%;
}

/* line 4, ../scss/toolbar/_toolbar.scss */
#toolbar {
  background: #f1f1f1;
  height: 100%;
  overflow: auto;
  padding: 0px;
  margin: 0px;
}
/* line 11, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav {
  padding: 0px;
}
/* line 14, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav li {
  border-bottom: 1px solid #000;
  margin: 0px;
}
/* line 18, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav li:hover {
  background: #777;
}
/* line 22, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav li:active {
  background: #333;
}
/* line 26, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav li.active {
  background: #777;
}
/* line 29, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav li.active:hover {
  background: #333;
}
/* line 34, ../scss/toolbar/_toolbar.scss */
#toolbar ul.side-nav li a.icon {
  color: #222;
  font-weight: 900;
  background-position: 12 6px;
  width: 100%;
  height: 48px;
}

/* line 4, ../scss/display/_display.scss */
#display {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background: #333;
}
/* line 14, ../scss/display/_display.scss */
#display > #intro-screen.row {
  margin: 100px auto auto auto;
}
/* line 17, ../scss/display/_display.scss */
#display > #intro-screen.row > .columns {
  float: none;
}
/* line 21, ../scss/display/_display.scss */
#display > #intro-screen.row .columns {
  background: #fff;
  margin: auto;
}
/* line 25, ../scss/display/_display.scss */
#display > #intro-screen.row .columns > .header {
  padding: 30px;
}
/* line 28, ../scss/display/_display.scss */
#display > #intro-screen.row .columns > .header li {
  list-style-type: none;
}
/* line 30, ../scss/display/_display.scss */
#display > #intro-screen.row .columns > .header li > .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 34, ../scss/display/_display.scss */
#display > #intro-screen.row .columns > .header li > .row > .drag-box {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -khtml-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  border: 5px #aaaaaa dashed;
  height: 40px;
}
/* line 40, ../scss/display/_display.scss */
#display > #intro-screen.row .columns > .header li > .row > .drag-box .text-message {
  padding-top: 10px;
}
/* line 44, ../scss/display/_display.scss */
#display > #intro-screen.row .columns > .header li > .row > .drag-box:hover {
  background: #f1f1f1;
}

/* line 1, ../scss/settings/_polygons.scss */
.patterns-image {
  width: 50px;
  height: 23px;
  background: #fff;
}

/* line 5, ../scss/settings/_settings.scss */
#settings {
  background: #f1f1f1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
/* line 13, ../scss/settings/_settings.scss */
#settings .canvas-status {
  margin: 0px;
  padding: 0px;
}
/* line 18, ../scss/settings/_settings.scss */
#settings .canvas-status > ul {
  background: #333;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -khtml-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  border: 2px black solid;
  color: #fff;
  margin: 3px;
}
/* line 20, ../scss/settings/_settings.scss */
#settings .canvas-status > ul > h3 {
  color: #fff;
}
/* line 29, ../scss/settings/_settings.scss */
#settings .canvas-status > ul > li {
  padding: 5px;
  font-size: 14px;
  list-style-type: none;
  border-top: 1px solid #fff;
}
/* line 38, ../scss/settings/_settings.scss */
#settings > .settings-nav {
  height: 100%;
  overflow: auto;
}
/* line 41, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class {
  padding: 0px;
}
/* line 44, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li {
  border-bottom: 1px solid #000;
  margin: 0px;
}
/* line 48, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li:hover {
  background: #777;
}
/* line 52, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li:active {
  background: #333;
}
/* line 56, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li a {
  color: #222;
  padding: 5px;
  margin: auto;
  font-size: 16px;
}
/* line 61, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li a.active {
  background: #333;
  color: #FFF;
}
/* line 66, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li em.icon {
  width: 32px;
  height: 32px;
  margin: auto;
}
/* line 72, ../scss/settings/_settings.scss */
#settings > .settings-nav ul.custom-sidenav-class li.active {
  background: #333;
  color: #FFF;
}

/* line 6, ../scss/settings/_sections.scss */
#sections-panel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0px;
  right: 100%;
  width: 300%;
  height: 100%;
  position: absolute;
  display: none;
}
/* line 17, ../scss/settings/_sections.scss */
#sections-panel.active {
  display: block;
}
/* line 21, ../scss/settings/_sections.scss */
#sections-panel .settings-content {
  background: #333;
  color: #FFF;
  position: relative;
  top: 0px;
  height: 100%;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0.95;
}
/* line 31, ../scss/settings/_sections.scss */
#sections-panel .settings-content .row {
  padding: 0px;
  margin: 0px;
}
/* line 35, ../scss/settings/_sections.scss */
#sections-panel .settings-content .row .columns {
  margin: 0px;
  padding: 2px;
}
/* line 41, ../scss/settings/_sections.scss */
#sections-panel .settings-content.active {
  display: block;
}
/* line 5, ../scss/settings/_list.scss */
#sections-panel .settings-content ul {
  padding-left: 5px;
  margin: 0px;
}
/* line 8, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li {
  margin: 5px;
  border-bottom: 1px solid #f1f1f1;
  list-style-type: none;
}
/* line 13, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li label {
  color: #fff;
}
/* line 19, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li .destroy {
  width: 16px;
  height: 16px;
  display: block;
  background: url("/images/cc/white/png/icons_16/trash_icon_16.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
/* line 24, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li .hide-data:before {
  content: '▶';
}
/* line 28, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li .show-data:before {
  content: '▼';
}
/* line 32, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li.hover {
  color: #fdcc59;
}
/* line 35, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li.hover label {
  color: #fdcc59;
}
/* line 39, ../scss/settings/_list.scss */
#sections-panel .settings-content ul li.hover .hide-data:before {
  content: '➜';
}

/* line 5, ../scss/settings/_list.scss */
.lines-list ul, .points-list ul, .patterns-list ul {
  padding-left: 5px;
  margin: 0px;
}
/* line 8, ../scss/settings/_list.scss */
.lines-list ul li, .points-list ul li, .patterns-list ul li {
  margin: 5px;
  border-bottom: 1px solid #f1f1f1;
  list-style-type: none;
}
/* line 13, ../scss/settings/_list.scss */
.lines-list ul li label, .points-list ul li label, .patterns-list ul li label {
  color: #fff;
}
/* line 19, ../scss/settings/_list.scss */
.lines-list ul li .destroy, .points-list ul li .destroy, .patterns-list ul li .destroy {
  width: 16px;
  height: 16px;
  display: block;
  background: url("/images/cc/white/png/icons_16/trash_icon_16.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
/* line 24, ../scss/settings/_list.scss */
.lines-list ul li .hide-data:before, .points-list ul li .hide-data:before, .patterns-list ul li .hide-data:before {
  content: '▶';
}
/* line 28, ../scss/settings/_list.scss */
.lines-list ul li .show-data:before, .points-list ul li .show-data:before, .patterns-list ul li .show-data:before {
  content: '▼';
}
/* line 32, ../scss/settings/_list.scss */
.lines-list ul li.hover, .points-list ul li.hover, .patterns-list ul li.hover {
  color: #fdcc59;
}
/* line 35, ../scss/settings/_list.scss */
.lines-list ul li.hover label, .points-list ul li.hover label, .patterns-list ul li.hover label {
  color: #fdcc59;
}
/* line 39, ../scss/settings/_list.scss */
.lines-list ul li.hover .hide-data:before, .points-list ul li.hover .hide-data:before, .patterns-list ul li.hover .hide-data:before {
  content: '➜';
}

/* line 8, ../scss/utils/_icons.scss */
.icons_32-cursor_H_split_icon_32 {
  background: url("/images/cc/black/png/icons_32/cursor_H_split_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 13, ../scss/utils/_icons.scss */
.icons_32-cursor_V_split_icon_32 {
  background: url("/images/cc/black/png/icons_32/cursor_V_split_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 18, ../scss/utils/_icons.scss */
.icons_32-cursor_V_split_icon_32 {
  background: url("/images/cc/black/png/icons_32/cursor_V_split_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 23, ../scss/utils/_icons.scss */
.icons_32-cursor_V_split_icon_32 {
  background: url("/images/cc/black/png/icons_32/cursor_V_split_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 27, ../scss/utils/_icons.scss */
.icons_save_icon_32 {
  background: url("/images/cc/black/png/icons_32/save_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 32, ../scss/utils/_icons.scss */
.icons_download_icon_32 {
  background: url("/images/cc/black/png/icons_32/download_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 37, ../scss/utils/_icons.scss */
.icons-polygon4 {
  background: url("/images/icons/polygon4.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 42, ../scss/utils/_icons.scss */
.icons_32-text_letter_t_icon_32 {
  background: url("/images/cc/black/png/icons_32/text_letter_t_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 47, ../scss/utils/_icons.scss */
.icons_32-doc_export_icon_32 {
  background: url("/images/cc/black/png/icons_32/doc_export_icon_32.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

/* line 9, ../scss/main.scss */
body > .row {
  /* this will work for QtWebKit in future */
  -webkit-user-drag: none;
  max-width: 100%;
  height: 100%;
}
