@charset "UTF-8";
#export-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #333
}
#export-panel>.row {
    margin: 0px;
    padding: 0px
}
#export-panel>.row>.export-nav-section {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: auto
}
#export-panel>.row>.export-nav-section ul {
    padding: 0px;
    margin: 0px
}
#export-panel>.row>.export-nav-section ul li {
    margin: 0px;
    border-bottom: 1px solid #fff
}
#export-panel>.row>.export-nav-section ul li a {
    padding: 10px;
    color: #fff
}
#export-panel>.row>.export-nav-section ul li:hover {
    background: #777
}
#export-panel>.row>.export-nav-section ul li:active {
    background: #333
}
#export-panel>.row>.export-data-section {
    background: #fff;
    height: 100%;
    overflow: auto
}
#export-panel>.row>.export-data-section>.button-bar {
    padding-top: 5px
}
#export-panel>.row>.export-data-section>.data-raw {
    width: 100%
}
#export-panel>.row>.export-data-section>.map-data {
    width: 100%
}
#export-panel>.row>.export-data-section>.data-table {
    width: 100%
}
#export-panel>.row>.export-data-section textarea {
    width: 100%;
    height: 90%
}
#toolbar {
    background: #f1f1f1;
    height: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px
}
#toolbar ul.side-nav {
    padding: 0px
}
#toolbar ul.side-nav li {
    border-bottom: 1px solid #000;
    margin: 0px
}
#toolbar ul.side-nav li:hover {
    background: #777
}
#toolbar ul.side-nav li:active {
    background: #333
}
#toolbar ul.side-nav li.active {
    background: #777
}
#toolbar ul.side-nav li.active:hover {
    background: #333
}
#toolbar ul.side-nav li.info {
    bottom: 0px
}
#toolbar ul.side-nav li a.icon {
    color: #222;
    font-weight: bold;
    background-position: 12 6px;
    width: 100%;
    height: 48px;
    padding-right: 5px;
    text-align: center
}
#display {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    cursor: crosshair;
    background: #333
}
#display>#canvas {
    width: 100%;
    height: 100%
}
#display>#canvas.hidden {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    z-index: -100
}
#display .evtree {
    background: #ffffff
}
#display>#ref-panel {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 200px;
    overflow: auto;
    background: #333
}
#display>#ref-panel.hidden {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    z-index: -100
}
#display>#ref-panel::-webkit-scrollbar {
    display: none
}
#display>#ruler-panel {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 50px;
    overflow: auto;
    background-color: #ffffff
}
#display>#ruler-panel.hidden {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    z-index: -100
}
#display>#ruler-panel::-webkit-scrollbar {
    display: none
}
#display>#map {
    overflow: hidden
}
#display>#intro-screen.row {
    margin: 100px auto auto auto
}
#display>#intro-screen.row>.columns {
    float: none
}
#display>#intro-screen.row .columns {
    background: #fff;
    margin: auto
}
#display>#intro-screen.row .columns>.header {
    padding: 30px
}
#display>#intro-screen.row .columns>.header li {
    list-style-type: none
}
#display>#intro-screen.row .columns>.header li>.row {
    padding-top: 10px;
    padding-bottom: 10px
}
#display>#intro-screen.row .columns>.header li>.row>.drag-box {
    overflow: hidden;
    *zoom: 1;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 5px #aaa dashed;
    height: 40px
}
#display>#intro-screen.row .columns>.header li>.row>.drag-box .text-message {
    padding-top: 10px
}
#display>#intro-screen.row .columns>.header li>.row>.drag-box:hover {
    background: #f1f1f1
}
.introduction {
	display: flex;
    margin: 60px 60px;
	height: 500px;
    background: #FFFFFF;
}
.introduction .image {
	height: 150px;
}
.introduction h1 {
    color: #222222
}
.introduction .tool-name-column {
	display: flex;
	position: relative;
	width: 100px;
	height: 150px;
	padding: 20px 20px 20px 20px;
	text-align: center;
}
.introduction .tool-name-column h1 {
	font-size: 30px;
}
.introduction .subheader {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: 150px;
	left:-200px;
	width: 150px;
	height: 150px;
    font-size: 50px;
    font-weight: bold;
    color: #6F6F6F
}
.introduction .tool-option-column {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding: 25px 20px;
	width: auto;
}
.introduction .continue {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: 50px;
	left: 150px;
    border-style: solid;
    border-color: #33CCFF;
    border-width: 5px;
    border-radius: 8px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 45px 60px;
}
.introduction .continue:hover{
    background-color: #D1D1E0;
  	color: #6F6F6F;
}
.introduction .data-dropbox {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: -10px;
	left: 150px;
    color: #6F6F6F;
    font-size: 15px;
    border-style: dotted;
    border-color: #6F6F6F;
    border-width: 5px;
    border-radius: 8px;
    width: auto;
    font-weight: bold;
	font-size: auto;
    text-align: center;
    padding: 35px 80px;
}
.introduction .data-dropbox:active,
.introduction .data-dropbox:focus,
.introduction .data-dropbox:hover {
    background-color: #D1D1E0;
}
.introduction .link{
	display: flex;
	position:relative;
	top: 350px;
	left: -220px;
    text-align: center;
    padding: 30px 30px 30px 50px;
}
.invisible {
    opacity: 0px
}
.patterns-image {
    width: 50px;
    height: 23px;
    background: #fff
}
#bg-image-settings-list {
    padding: 10px
}
#bg-image-settings-list .row {
    padding: 10px
}
#bg-image-settings-list .row>.drag-box {
    overflow: hidden;
    *zoom: 1;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 5px #aaa dashed;
    height: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle
}
#bg-image-settings-list .row>.drag-box:hover {
    background: #555
}
#bg-image-settings-list .row label,
#bg-image-settings-list .row h1,
#bg-image-settings-list .row h2,
#bg-image-settings-list .row h3,
#bg-image-settings-list .row h4,
#bg-image-settings-list .row h5 {
    color: #fff
}
#defaults-list {
    padding: 10px
}
#defaults-list .row {
    padding: 10px
}
#defaults-list .row>.drag-box {
    overflow: hidden;
    *zoom: 1;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 5px #aaa dashed;
    height: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle
}
#defaults-list .row>.drag-box:hover {
    background: #555
}
#defaults-list .row label,
#defaults-list .row h1,
#defaults-list .row h2,
#defaults-list .row h3,
#defaults-list .row h4,
#defaults-list .row h5 {
    color: #fff
}
#animation-list {
    padding: 10px
}
#animation-list .row {
    padding: 10px
}
#animation-list .row>.drag-box {
    overflow: hidden;
    *zoom: 1;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 5px #aaa dashed;
    height: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle
}
#animation-list .row>.drag-box:hover {
    background: #555
}
#animation-list .row label,
#animation-list .row h1,
#animation-list .row h2,
#animation-list .row h3,
#animation-list .row h4,
#animation-list .row h5 {
    color: #fff
}
#animation-list .animation-tools>.animation-tool {
    height: 20px
}
#settings {
    background: #f1f1f1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    padding: 0px;
    margin: 0px
}
#settings .canvas-status {
    margin: 0px;
    padding: 0px
}
#settings .canvas-status>ul {
    background: #333;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 2px #000 solid;
    color: #fff;
    margin: 3px
}
#settings .canvas-status>ul>h3 {
    color: #fff
}
#settings .canvas-status>ul>li {
    padding: 5px;
    font-size: 14px;
    list-style-type: none;
    border-top: 1px solid #fff
}
#settings>.settings-nav {
    height: 100%;
    overflow: auto
}
#settings>.settings-nav ul.custom-sidenav-class {
    padding: 0px
}
#settings>.settings-nav ul.custom-sidenav-class li {
    border-bottom: 1px solid #000;
    margin: 0px
}
#settings>.settings-nav ul.custom-sidenav-class li:hover {
    background: #777
}
#settings>.settings-nav ul.custom-sidenav-class li:active {
    background: #333
}
#settings>.settings-nav ul.custom-sidenav-class li a {
    color: #222;
    padding: 5px;
    padding-left: 35px;
    font-size: 16px;
    height: 35px;
    width: 100%
}
#settings>.settings-nav ul.custom-sidenav-class li a.active {
    background: #333;
    color: #FFF
}
#settings>.settings-nav ul.custom-sidenav-class li.active {
    background: #333;
    color: #FFF
}
#sections-panel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0px;
    right: 100%;
    width: 400px;
    height: 100%;
    position: absolute;
    display: none
}
#sections-panel.active {
    display: block
}
#sections-panel .settings-content {
    background: #333;
    color: #FFF;
    position: relative;
    top: 0px;
    height: 100%;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.95
}
#sections-panel .settings-content .row {
    padding: 0px;
    margin: 0px
}
#sections-panel .settings-content .row .columns {
    margin: 0px;
    padding: 2px
}
#sections-panel .settings-content.active {
    display: block
}
#sections-panel .settings-content ul {
    padding-left: 5px;
    padding-bottom: 10px;
    margin: 0px
}
#sections-panel .settings-content ul li {
    margin: 5px;
    border-bottom: 1px solid #f1f1f1;
    list-style-type: none
}
#sections-panel .settings-content ul li.highlight {
    background: #700000
}
#sections-panel .settings-content ul li label {
    color: #fff
}
#sections-panel .settings-content ul li .destroy {
    width: 16px;
    height: 16px;
    display: block;
    background: url("../images/cc/white/png/icons_16/trash_icon_16.png");
    background-position: 100% 100%;
    background-repeat: no-repeat
}
#sections-panel .settings-content ul li .to-front {
    width: 16px;
    height: 16px;
    display: block;
    background: url("../images/cc/white/png/icons_16/eye_icon_16.png");
    background-position: 100% 100%;
    background-repeat: no-repeat
}
#sections-panel .settings-content ul li .hide-data:before {
    content: '▶'
}
#sections-panel .settings-content ul li .show-data:before {
    content: '▼'
}
#sections-panel .settings-content ul li.hover {
    color: #fdcc59
}
#sections-panel .settings-content ul li.hover label {
    color: #fdcc59
}
#sections-panel .settings-content ul li.hover .hide-data:before {
    content: '➜'
}
.lines-list ul,
.points-list ul,
.patterns-list ul,
.polygons-list ul {
    padding-left: 5px;
    padding-bottom: 10px;
    margin: 0px
}
.lines-list ul li,
.points-list ul li,
.patterns-list ul li,
.polygons-list ul li {
    margin: 5px;
    border-bottom: 1px solid #f1f1f1;
    list-style-type: none
}
.lines-list ul li.highlight,
.points-list ul li.highlight,
.patterns-list ul li.highlight,
.polygons-list ul li.highlight {
    background: #700000
}
.lines-list ul li label,
.points-list ul li label,
.patterns-list ul li label,
.polygons-list ul li label {
    color: #fff
}
.lines-list ul li .destroy,
.points-list ul li .destroy,
.patterns-list ul li .destroy,
.polygons-list ul li .destroy {
    width: 16px;
    height: 16px;
    display: block;
    background: url("../images/cc/white/png/icons_16/trash_icon_16.png");
    background-position: 100% 100%;
    background-repeat: no-repeat
}
.lines-list ul li .to-front,
.points-list ul li .to-front,
.patterns-list ul li .to-front,
.polygons-list ul li .to-front {
    width: 16px;
    height: 16px;
    display: block;
    background: url("../images/cc/white/png/icons_16/eye_icon_16.png");
    background-position: 100% 100%;
    background-repeat: no-repeat
}
.lines-list ul li .hide-data:before,
.points-list ul li .hide-data:before,
.patterns-list ul li .hide-data:before,
.polygons-list ul li .hide-data:before {
    content: '▶'
}
.lines-list ul li .show-data:before,
.points-list ul li .show-data:before,
.patterns-list ul li .show-data:before,
.polygons-list ul li .show-data:before {
    content: '▼'
}
.lines-list ul li.hover,
.points-list ul li.hover,
.patterns-list ul li.hover,
.polygons-list ul li.hover {
    color: #fdcc59
}
.lines-list ul li.hover label,
.points-list ul li.hover label,
.patterns-list ul li.hover label,
.polygons-list ul li.hover label {
    color: #fdcc59
}
.lines-list ul li.hover .hide-data:before,
.points-list ul li.hover .hide-data:before,
.patterns-list ul li.hover .hide-data:before,
.polygons-list ul li.hover .hide-data:before {
    content: '➜'
}
.text-font-settings input,
.text-font-settings select {
    height: 35px
}
.icons_32-cursor_H_split_icon_32 {
    background: url("../images/cc/black/png/icons_32/cursor_H_split_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-cursor_V_split_icon_32 {
    background: url("../images/cc/black/png/icons_32/cursor_V_split_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-cursor_V_split_icon_32 {
    background: url("../images/cc/black/png/icons_32/cursor_V_split_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-cursor_V_split_icon_32 {
    background: url("../images/cc/black/png/icons_32/cursor_V_split_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_save_icon_32 {
    background: url("../images/cc/black/png/icons_32/save_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_download_icon_32 {
    background: url("../images/cc/black/png/icons_32/download_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons-polygon4 {
    background: url("../images/icons/polygon4.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-sq_plus_icon_32 {
    background: url("../images/cc/black/png/icons_32/sq_plus_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-text_letter_t_icon_32 {
    background: url("../images/cc/black/png/icons_32/text_letter_t_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-doc_export_icon_32 {
    background: url("../images/cc/black/png/icons_32/doc_export_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-picture_icon_32 {
    background: url("../images/cc/black/png/icons_32/picture_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-cogs_icon_32 {
    background: url("../images/cc/black/png/icons_32/cogs_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-cursor_arrow_icon_32 {
    background: url("../images/cc/black/png/icons_32/cursor_arrow_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-doc_import_icon_32 {
    background: url("../images/cc/black/png/icons_32/doc_import_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-zoom_icon_32 {
    background: url("../images/cc/black/png/icons_32/zoom_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-cursor_drag_arrow_2_icon_32 {
    background: url("../images/cc/black/png/icons_32/cursor_drag_arrow_2_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-reload_icon_32 {
    background: url("../images/cc/black/png/icons_32/reload_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-padlock_closed_icon_32 {
    background: url("../images/cc/black/png/icons_32/padlock_closed_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-padlock_open_icon_32 {
    background: url("../images/cc/black/png/icons_32/padlock_open_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-box_icon_32 {
    background: url("../images/cc/black/png/icons_32/box_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-info_icon_32 {
    background: url("../images/cc/black/png/icons_32/info_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-align_just_icon_32 {
    background: url("../images/cc/black/png/icons_32/align_just_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-indent_decrease_icon_32 {
    background: url("../images/cc/black/png/icons_32/indent_decrease_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-186-ruler {
    background: url("../images/cc/black/png/icons_32/186-ruler.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-186-ruler {
    background: url("../images/cc/black/png/icons_32/186-ruler.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_32-globe_2_icon_32 {
    background: url("../images/cc/black/png/icons_32/globe_2_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_48-playback_play_icon_48 {
    background: url("../images/cc/white/png/icons_48/playback_play_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_48-playback_ff_icon_48 {
    background: url("../images/cc/white/png/icons_48/playback_ff_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_48-playback_pause_icon_48 {
    background: url("../images/cc/white/png/icons_48/playback_pause_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_48-playback_rew_icon_48 {
    background: url("../images/cc/white/png/icons_48/playback_rew_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_48-playback_reload_icon_48 {
    background: url("../images/cc/white/png/icons_48/playback_reload_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_48-playback_stop_icon_48 {
    background: url("../images/cc/white/png/icons_48/playback_stop_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_16-sq_plus_icon_16 {
    background: url("../images/cc/white/png/icons_16/sq_plus_icon_16.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 16px;
    height: 16px
}
.icons_white_32-folder_delete_icon_32 {
    background: url("../images/cc/white/png/icons_32/folder_delete_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-folder_icon_32 {
    background: url("../images/cc/white/png/icons_32/folder_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-folder_minus_icon_32 {
    background: url("../images/cc/white/png/icons_32/folder_minus_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-folder_open_icon_32 {
    background: url("../images/cc/white/png/icons_32/folder_open_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-folder_plus_icon_32 {
    background: url("../images/cc/white/png/icons_32/folder_plus_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-doc_delete_icon_32 {
    background: url("../images/cc/white/png/icons_32/doc_delete_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-doc_plus_icon_32 {
    background: url("../images/cc/white/png/icons_32/doc_plus_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-document_icon_32 {
    background: url("../images/cc/white/png/icons_32/document_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_white_32-doc_empty_icon_32 {
    background: url("../images/cc/white/png/icons_32/doc_empty_icon_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px
}
.icons_black_48-folder_delete_icon_48 {
    background: url("../images/cc/black/png/icons_48/folder_delete_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-folder_icon_48 {
    background: url("../images/cc/black/png/icons_48/folder_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-folder_minus_icon_48 {
    background: url("../images/cc/black/png/icons_48/folder_minus_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-folder_open_icon_48 {
    background: url("../images/cc/black/png/icons_48/folder_open_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-folder_plus_icon_48 {
    background: url("../images/cc/black/png/icons_48/folder_plus_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-doc_delete_icon_48 {
    background: url("../images/cc/black/png/icons_48/doc_delete_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-doc_plus_icon_48 {
    background: url("../images/cc/black/png/icons_48/doc_plus_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-document_icon_48 {
    background: url("../images/cc/black/png/icons_48/document_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-doc_empty_icon_48 {
    background: url("../images/cc/black/png/icons_48/doc_empty_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
.icons_black_48-doc_lines_stright_icon_48 {
    background: url("../images/cc/black/png/icons_48/doc_lines_stright_icon_48.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 48px;
    height: 48px
}
#file-system-panel {
    cursor: default;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff
}
#file-system-panel .top-bar>div {
    width: 50px;
    height: 100%
}
#file-system-panel .top-bar>div a.icon {
    width: 32px;
    height: 32px;
    margin: auto
}
#file-system-panel .top-bar>div:hover {
    background: #777
}
#file-system-panel .list {
    padding: 20px
}
#file-system-panel .list .file {
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 1px #fff solid;
    overflow: auto;
    margin: 0px;
    padding: 5px;
    width: 100px;
    height: 140px
}
#file-system-panel .list .file>.download-link {
    height: 10px;
    width: 100%
}
#file-system-panel .list .file>.file-icon {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px
}
#file-system-panel .list .file>.file-name {
    padding-top: 10px;
    text-align: center
}
#file-system-panel .list .file:hover {
    background: #777
}
#file-system-panel .list .file.active {
    background: #0099FF
}
#ref-col-set-list {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff
}
#ref-col-set-list label,
#ref-col-set-list h1,
#ref-col-set-list h2,
#ref-col-set-list h3,
#ref-col-set-list h4,
#ref-col-set-list h5 {
    color: #fff
}
#ref-col-set-list .drag-box {
    overflow: hidden;
    *zoom: 1;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 5px #aaa dashed;
    height: 30%;
    margin: auto;
    text-align: center;
    vertical-align: middle
}
#ref-col-set-list .drag-box:hover {
    background: #555
}
.compass .back {
    fill: #eee;
    fill-opacity: .8
}
.compass .fore {
    stroke: #999;
    stroke-width: 1.5px
}
.compass rect.back.fore {
    fill: #999;
    fill-opacity: .3;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges
}
.compass .direction {
    fill: none
}
.compass .chevron {
    fill: none;
    stroke: #999;
    stroke-width: 5px
}
.compass .zoom .chevron {
    stroke-width: 4px
}
.compass .active .chevron,
.compass .chevron.active {
    stroke: #fff
}
.compass.active .active .direction {
    fill: #999
}
.grid {
    stroke: white;
    stroke-opacity: .4;
    shape-rendering: crispEdges
}
body>.row {
    -webkit-user-drag: none;
    max-width: 100%;
    height: 100%
}
body #loading {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 100%;
    text-align: center
}
body #loading>h1 {
    color: #FFF
}
body #loading>.ajax-spinner-bars {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 50%
}
body #loading>.ajax-spinner-bars>div {
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: #25363F;
    opacity: 0.05;
    animation: fadeit 0.8s linear infinite
}
.toggle {
    cursor: hand
}
.slider {
    width: 200px
}
compass .back {
    fill: #eee;
    fill-opacity: .8
}
