<div class="row">
    <div class="export-nav-section columns small-6 large-3">
        <ul class="side-nav">
        </ul>
    </div>
    <div class="export-data-section columns small-18 large-21">
        <div class="button-bar sticky">
            <ul class="button-group round right">
                <li><a href="#show-raw" class="show-data tiny button secondary alert">text</a></li>
                <li><a href="#show-table" class="show-data tiny button secondary">table</a></li> 
		<li><a href="#send-to-master-maker" class="show-data tiny button secondary">send to master maker</a></li>
            </ul>
        </div>
        <div class="data-table evtree-data">
        </div>
        <div class="data-raw hide evtree-data"><textarea name="evtree-data-text" readonly=></textarea></div>
    </div>
</div>
