<li style="border-bottom: none;">
    <label class="node-data small-20 columns node-label"><%= name %> - <%= age %> myr</label>
    <div class="small-4 columns"><a href="#" class="destroy"></a></div>
</li>
