<div class="toggle hide-data small-3 columns"></div>
<label class="node-data small-17 columns node-label"><%= name %> - <%= age %> myr</label>
<div class="small-10 columns node-form hide">
    <input type="text" value="<%= name %>" name="node-name">
</div>
<div class="small-7 columns node-form hide">
    <input type="text" name="node-age" value="<%= age %>">
</div>
<div class="small-4 columns"><a href="#" class="destroy"></a></div>
