body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  color: #00B7FF;
}


body .container {
	display: block;
	position: absolute;
	top: 45px;
	left: 0px;
	width: 100%;
	height: 100%;
}

body .container .display {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 70%;
	height: 100%;
	overflow: hidden;
	background-color: #FFFFFF;
}

body .container .settings {
	position: absolute;
	top: 0px;
	left: 70%;
	width: 30%;
	height: 100%;
	background: #FFFFFF;
	overflow: hidden;
	padding-bottom: 10px;
}

.toolbar {
	background: #333333;
	height: 28px;
	text-align: center;
	padding: 3px;
	border-right: solid;
	border-left: solid;
	border-width: 1px;
}

.nav-links {
	margin-left: 3px;
}

#canvas {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	width: 100%;
	height: 90%;
	overflow: auto;
}

.sections-panel {
	height: 100%;
	overflow: auto;
}


#blocks-list {
	overflow: hidden;
}
.data-list {
	width: 100%;
	overflow: auto;
}

.show-data:before {
	content: '▼';
}

.hide-data:before {
	content: '▶';
}

.destroy:before {
	content: '✖';
}

.destroy:hover {
	color: #FF0000;
	background-color: #333333;
}

.destroy:active {
	color: #FF0000;
	background-color: #666666;
}

.show {
	display: ;
}

.hide {
	display: none;
}

.toggle:hover {
	color: #666666;
	background-color: #333333;
}

.toggle:active {
	color: #CCCCCC;
	background-color: #666666;
}

.hover-bg {
	color: #F00000;
}
