<div class="icon-btn cancel-btn"><span>Cancel</span></div>
<div class="zone-detail editing">
  <input type="text" class="zone-name" name="name" value="<%= name %>">
  <textarea class="zone-description" name="description" placeholder="You haven't written any description yet."><%= description %></textarea>
</div>
