<div class="icon-btn edit-btn"><span>Edit</span></div>
<div class="zone-detail showing">
  <div class="zone-name"><%= name %></div>
  <div class="zone-description">
    <% if(description) { %>
      <%= description %>
    <% } else { %>
      You haven't written any description yet.
    <% } %>
  </div>
</div>
