<div class="introduction">
  <div class="tool-name-column">
    <h1>Timescale Creator</h1>		
    <h2 class="subheader">Curve Maker</h2>
  </div>
  <div class="tool-option-column">
    <h2 class="subheader">Getting Started</h2>
    <div class="row">
      <a href="/docs/Gabi_TransectMakerManual2.pdf" title="A guided tour of transect maker" target="_blank">A guided tour of transect maker</a>
    </div>
    <div class="row">
      <div class="file-dropbox data-dropbox" >
        <span class="data-status">drag &amp; drop your datafile(*.json) here</span>
      </div>
    </div>
    <div class="row">
      <a class="continue" title="Start a new project">Start a new project ➤</a>
    </div>
  </div>
</div>
