<div class="row">
	<div class="toggle hide-data small-3 columns"></div>			
	<label class="block-data small-17 columns block-label"><%= name %></label>
	<div class="small-10 columns block-form hide">
		<input type="text" value="<%= name %>" name="block-name">
	</div>
	<div class="small-7 columns block-form hide">
		<input type="text" name="block-age" value="<%= baseAge %>">
	</div>
	<div class="small-4 columns"><a href="#" class="destroy"></a></div>
</div>
