<div class="row">
	<div class="export-nav-section columns small-6 large-3">
		<ul class="side-nav">
			<% for (var i=0; i<blockColumns.length; i++) { %>
				<li><a class="active" href="#<%= blockColumns[i].id %>"><%= blockColumns[i].name %></a></li>
			<% } %>
		</ul>
	</div>
	<div class="export-data-section columns small-18 large-21">
		<div class="button-bar sticky">
			<ul class="button-group round right">
				<li><a href="#show-table" class="show-data tiny button secondary alert">table</a></li>
				<li><a href="#show-raw" class="show-data tiny button secondary">text</a></li>
			</ul>
		</div>
		<div class="data-table block-columns-data">
			<% for (var i=0; i<blockColumns.length; i++) { %>
				<div id="<%= blockColumns[i].id %>"></div>
			<% } %>
		</div>
		<div class="data-raw hide block-columns-data"><textarea name="block-columns-data-text" readonly=></textarea></div>
	</div>
</div>